body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 22px;
    height: 27px;
    margin-top: 43px;
    padding-bottom: 119px;
}
h2 {
    font-size: 23px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 15px;
    font-weight: 800; 
}
p{
    font-size: 15px;
}
.header{
    display: grid;
    width: 100%;
    height: 100px;
}
.header_nav_link:hover{
    border-top: 2px solid #0065FC;
    color: #0065fc;
}
#logo{
    position: absolute;
    height: 74px;
    padding: 41px 30px;
    grid-area: img;
}
.header_nav{
    display: flex;
    margin-right: 185px;
    margin-left: auto;
    font-size: 19px;
    place-content: space-evenly;
    grid-area: nav;
}
.header_nav_link{
    padding: 4rem;
    font-weight: 600;
    margin-left: -50px;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}
#registration{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 6.7%;
    color: #0065FC;
    font-size: 19px;
    font-weight: 700;
    grid-area: note;
    cursor: pointer;
}

/* Bouton recherche */
#part_one {
    width: 100%;
    padding: 30px;
}
#form {
    display: flex;
    align-items: center;
}
#form ::before {
    color: black;
}
.mapi {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    width: 57px;
    height: 65px;
    border-radius: 21px 0px 0px 21px;
    background-color: #f2f2f2;
}
input {
    width: 245px;
    height: 65px;
    border-top: 2.5px solid #f2f2f2;
    border-bottom: 2.5px solid #f2f2f2;
    border-left: none;
    border-right: none;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bolder;
}
input:focus{
    outline:none;
}
.button {
    display: contents;
}
.button ::before {
    display: none;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 133px;
    height: 45px;
    background-color: #0065fc;
    border-radius: 0px 16px 16px 0px;
    color: white;
    font-size: 19px;
    font-weight: 400;
}

/* Les filtres */

#filters{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}
#filters .fa{
    font-size: 20px;
    color: #0065FC;
}
.filtered_listing{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.filtered{
    display: flex;
    align-items: center;
    margin: 20px;
    width: 100%;
    height: auto;
    border-top: 3px solid #F2F2F2;
    border-right: 3px solid #F2F2F2;
    border-bottom: 3px solid #F2F2F2;
    border-radius: 44px;
    background-color: white;
    cursor: pointer;
    max-width: max-content;
}
.filter_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #DEEBFF;
}
.filter_subtitle{
    font-size: 17px;
    font-weight: 800;
    margin: 0px 30px;
    margin-left: 22px;
}
.filtered:hover{
    color: #0065FC;
    background-color: #DEEBFF;
    border-top: 1px solid #0065FC;
    border-right: 2px solid #0065FC;
    border-bottom: 2px solid #0065FC;
    border-left: 2px solid #0065FC;
}

/* Info */

#info{ 
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}
.point_i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border: 2.5px solid #F2F2F2;
    border-radius: 40px;
    font-size: 12px;
    color: #0065FC;
}
#info .subtitle{
    display: block;
    margin-left: 14px;
}

/* Main */

.accomodation_aside {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 95%;
    height: 58em;
    margin-left: 35px;
}

/* Partie hébergement et populaire */

#accomodation {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 16px;
    width: 61%;
    height: 52em;
    padding-left: 15px;
    padding-right: 30px;
}

/* Partie hébergement */

#accomodation h2, aside h2 {
    margin: 45px 0px 45px 10px;
}
#accomodation h3 {
        margin-top: 30px;
        margin-left: 20px;
}
#accomodation p {
    margin: -12px 0px 18px 0px;
}
.habitat_listing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.habitat_listing img {
    width: 220px;
    height: 130px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.habitat_picture {
    border: 1px solid white;
    background-color: white;
    border-radius: 16px;
    padding: 2px 2px 10px 2px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #b4b3b3;
}
.habitat_picture:hover {
    transition: transform 100ms;
    transform: scale(1.1);
}

/* Aside */

aside {
    margin-top: 30px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 33%;
    height: 52em;
}
aside h2 {
    margin-left: 25px;
}
.best {
    margin-left: 25px;
}
.best_picture {
    display: flex;
    width: 95%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px white;
    border: 1px solid white;
    background-color: white;
    border-radius: 16px;
}
.best_picture:hover{
    transition: transform 100ms;
    transform: scale(1.1);
}
.best_picture span{
    font-weight: 600;
}
.best img {
    width: 40%;
    height: 185px;
    border-radius: 16px 0 0 16px;
    object-fit: cover;
}
.first_class {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.best_description, .position_text {
    padding: 5px 0px 1px 15px;
}
.best_description .star {
    margin-top: 65px;
}

/* Etoiles */

.fa, .fas{
    color:#0065fc;
    font-size: 17px;
}
.fa, .fas.empty{
    color:#f2f2f2;
    font-size: 17px;
}

/******* Activites *************/

#activity {
    margin-left: 35px;
    width: 91%;
}
#activity h4 {
    margin-left: 25px;
}
.listing_activities {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 35px;
}
.listing_activities img:hover {
    transition: transform 100ms;
    transform: scale(1.1);
}
.listing_activities img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.column_one_100, .column_60_40, .column_three_100, .column_two_40_60 {
    width: 23%;
    margin-right: -45px ;
}
.column_one_100 img, .column_60_40 img, .column_three_100 img, .column_two_40_60 img {
    border-radius: 16px 16px 0px 0px;
}
.column_60 img {
    height: 155px;
}
.column_40 {
    border: 1px solid #f2f2f2;
    border-radius: 16px;
}
.column_40 img {
    height: 140px;
}
.column {
    border: 1px solid #F2F2F2;
}
.column img {
    height: 130px;
}
.col_55 {
    margin-bottom: 17px;
    border: 1px solid #f2f2f2;
}
.col_55 img {
    height: 190px;
}
.img_100, .column_60 {
    border: 1px solid #f2f2f2;
    border-radius: 16px;
    margin-bottom: 40px;
}

/****** Footer ************/

footer {
    display: flex;
    width: 100%;
    padding-right: 50px;
    padding-bottom: 60px;
    background-color: #f2f2f2;
    font-size: 19px;
    line-height: 35px;
}
.footer_about {
    margin-left: 45px;
}
footer ul {
    list-style-type: none;
    margin-left: -40px;
}
.footer_accommodation {
    margin-left: 240px;
    margin-right: 240px;
}
footer li:hover{
    text-decoration: underline;
}



        /* MEDIA QUIERIES */
/* ipad Pro 1024px */
@media (max-width: 1240px) {
    #logo {
        height: 64px;
        padding: 0px 30px;
    }
    #registration{
        order: 1;
        margin: 22px;
        margin-right: 25px;
        font-size: 25px;
    }
    .header{
        grid-template-areas: "img . note" "nav nav nav";
        justify-content: space-between;
        height: auto;
        margin-top: 40px;
    }
    .header_nav{
        justify-content: space-around;
        width: 100%;
        margin: 0px 30px;
        order: 2;
        border-bottom: 1.5px solid #ddd0d0;
        font-size: 24px;
    }
    .header_nav_link:hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065fc;
    }
    #form {
        margin-bottom: 38px;
    }
    #filters {
        display: contents;
    }
    .accomodation_aside {
        height: 70em;
        justify-content: space-between;
    }
    #accomodation, aside {
        height: 65em;
    }
    #accomodation h2 {
        padding-left: 30px;
    }
    .habitat_listing {
        justify-content: space-around;
    }
    .habitat_listing img {
        width: 282px;
    }
    #activity h4 {
        margin-left: 0px;
    }
    .listing_activities {
        justify-content: space-between;   
    }
    .footer_accommodation {
        margin-left: 110px;
        margin-right: 125px;
    }
}

@media (max-width: 1000px) {
    .habitat_listing img {
        width: 215px;
    }
    #accomodation {
        width: 55%;
    }
}

@media (max-width: 890px) {
    #accomodation, aside {
        height: 116em;
    }
    #accomodation {
        width: 50%;
    }
    aside {
        width: 41%;
    }
    .habitat_listing {
        flex-direction: column;
    }
    .habitat_listing img {
        width: 100%;
    }
    .best img {
        width: 45%;
    }
    #activity {
        margin-left: 35px;
        width: 91%;
        margin-top: 52em;
    }
    .col_55 img {
        height: 170px;
    }
    footer {
        flex-direction: column;
        font-size: 22px;
    }
    .footer_assistance,.footer_accommodation {
        margin-left: 40px;
    }
}

/*  Ipad 768px - Surface Duo 540px */

@media (max-width: 850px) {
    h2 {
        font-size: xx-large;
    }
    .search {
        display: none;
    }
    .button ::before {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 16px 16px 16px 16px;
        background-color: #0065FC;
    }
    input {
        width: 345px;
        height: 70px;
        font-weight: 800;
        font-size: 21px;
    }
    .mapi {
        width: 70px;
        height: 70px;
        color: black;
    }
    #form ::before {
        color: inherit;
        font-size: 25px ;
    }
    #form {
        margin: 50px 0px 70px;
    }
    .accomodation_aside {
        flex-direction: column-reverse;
        width: 110%;
        margin: 97em 0;
    }
    aside {
        width: 100%;
    }
    #accomodation {
        margin-top: 40px;
        width: 93%;
        background-color: white;
    }
    #accomodation h2 {
        padding-left: 0px;
    }
    .habitat_listing img {
        height: 16em;
    }
    #activity h4 {
        font-size: 24px;
    }
    #activity {
        margin-top: -43em;
    }
    .listing_activities {
        flex-direction: column;
    }
    .listing_activities img {
        height: 19em;
    }
    .column_one_100, .column_60_40, .column_three_100, .column_two_40_60 {
        width: 110%;
    }
    footer {
        margin-top: 55px;
    }
}

/*  Iphone 6/7/8/ Plus & Pixel 2 & Pixel 2 XL 414px */

@media (max-width: 440px) {
    h2 {
        font-size: x-large;
    }
    .filtered {
        margin: 4px;
    }
    .accomodation_aside {
        width: 130%;
    }
    aside {
        padding-right: 3em;
    }
    .habitat {
        width: 110%;
    }
    .habitat_listing img {
        height: 12em;
    }
    #activity {
        margin-top: -69em;
    }
    .listing_activities img {
        width: 125%;
        height: 14em;
        margin-left: -20px;
    }
    footer {
        padding-right: 40%;
    }
}

/* Iphone X & Iphone 6/7/8 375px - Moto G4 & Galaxie S5 360px */

@media (max-width: 375px) {
    h3 {
        font-size: 20px;
    }
    #form {
        width: min-content;
    }
    #info {
        margin-top: 23px;
    }
    aside {
        width: 115%;
    }
    .best_picture {
        width: 104%;
    }
    #accomodation {
        width: 105%;
    }
    .habitat {
        width: 111%;
    }
    .listing_activities img {
        width: 154%;
    }
    footer {
        padding-right: 11em;
    }
}

/* Galaxie Fold 280px */

@media (max-width: 280px) {
    h2 {
        width: max-content;
        font-size: large;
        margin-bottom: 50px;
    }
    #registration {
        margin-right: -70px;
    }
    aside {
        width: max-content;
    }
    .habitat_picture {
        width: 130%;
    }
    .listing_activities img {
        width: 35em;
    }
    footer {
        padding-right: 22em;
        font-size: 16px;
    }
    footer h3 {
        font-size: 21px;
        min-width: max-content;
    }
}