body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0;
    color: black;
}
a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}
h1{
    font-size: 26px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 23px;
}
h4{
    font-size: 14px;
}
p{
    font-size: 21px;
}
.header{
    display: grid;
    width: 98.3%;
    height: 100px;
    margin-top: 10px;
}
#logo{
    position: absolute;
    height: 65px;
    margin: 30px 0 0 1.7%;
    grid-area: img;
}
.header_nav{
    display: flex;
    margin: 0px 100px 0 auto;
    place-content: space-evenly;
    grid-area: nav;
}
.header_nav_link{
    padding: 4rem;
    font-weight: 600;
    margin-left: -50px;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}
.header_nav_link:hover{
    border-top: 2px solid #0065FC;
    color: #0065fc;
}
#registration{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #0065FC;
    font-weight: 700;
    grid-area: note;
    cursor: pointer;
}

/* Search button */
#part_one{
    width: 100%;
    height: 22em;
    margin: 60px 0px 0 1.7%;
}
#form{
    display: flex;
    align-items: center;
}
#form ::before{
    color: black;
}
.mapi{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    width: 57px;
    height: 65px;
    border-radius: 21px 0px 0px 21px;
    background-color: #f2f2f2;
}
input{
    width: 245px;
    height: 65px;
    border-top: 2.5px solid #f2f2f2;
    border-bottom: 2.5px solid #f2f2f2;
    border-left: none;
    border-right: none;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bolder;
}
input:focus{
    outline:none;
}
.button{
    display: contents;
}
.button ::before{
    display: none;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 63px;
    background-color: #0065fc;
    border-radius: 0px 16px 16px 0px;
    color: white;
    font-size: 19px;
    font-weight: 400;
}

/* Filters */

#filters{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}
#filters .fa{
    font-size: 20px;
    color: #0065FC;
}
.filtered_listing{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.filtered{
    display: flex;
    align-items: center;
    margin: 20px;
    width: 100%;
    height: auto;
    border-top: 3px solid #F2F2F2;
    border-right: 3px solid #F2F2F2;
    border-bottom: 3px solid #F2F2F2;
    border-radius: 44px;
    background-color: white;
    cursor: pointer;
    max-width: max-content;
}
.filter_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #DEEBFF;
}
.filter_subtitle{
    font-size: 17px;
    font-weight: 800;
    margin: 0px 30px;
    margin-left: 22px;
}
.filtered:hover{
    color: #0065FC;
    background-color: #DEEBFF;
    border-top: 1px solid #0065FC;
    border-right: 2px solid #0065FC;
    border-bottom: 2px solid #0065FC;
    border-left: 2px solid #0065FC;
}

/* Info */
#info{ 
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}
.point_i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border: 2.5px solid #F2F2F2;
    border-radius: 40px;
    font-size: 12px;
    color: #0065FC;
}
#info .subtitle{
    display: block;
    margin-left: 14px;
}

/* Main */
main{
    margin: 0 1.7% 0 1.7%;
}
.accomodation_aside{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: 75em;
    padding-bottom: 2em;
}
/* Part location and popularity */
#accomodation {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 21px;
    width: 60%;
    height: 70em;
}
span{
    font-weight: 600;
}
aside{
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 21px;
    width: 36.2%;
    height: 70em;
} 
.position_text{
    margin: 10px 0px 20px 10px;
}
#accomodation h2, aside h2{
    margin: 45px 0px 45px 60px;
}
aside h2{
    margin-left: 30px;
}
#accomodation p{
    margin: -12px 0px 18px 0px;
}
.habitat {
    margin-bottom: 50px;
}
.habitat_listing{
    display: flex;
    justify-content: space-around;
    margin: 0 20px 0 20px;
    flex-wrap: wrap;
}
.habitat_listing img{
    width: 28.5em;
    height: 14em;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}
.habitat_picture{
    border: 1px solid white;
    background-color: white;
    border-radius: 25px;
    padding: 0px 2px 10px 2px;
    margin-bottom: 20px;
    box-shadow: 10px 5px 5px grey;
    cursor: pointer;
}
.habitat_picture:hover{
    transition: transform 100ms;
    transform: scale(1.1);
}
.additional {
    margin: 25px 0px 0px 60px;
}
.first_class{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4em;
}
i.fa.fa-chart-line {
    font-size: 32px;
}
.best{
    margin-left: 25px;
}
.best_picture{
    display: flex;
    width: 96%;
    margin-bottom: 43px;
    box-shadow: 0 0 10px white;
    border: 1px solid white;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
}
.best_picture:hover{
    transition: transform 100ms;
    transform: scale(1.1);
}
.best img{
    width: 40%;
    height: 17em;
    border-radius: 25px 0 0 25px;
    object-fit: cover;
}
.best_description{
    padding: 5px 0px 1px 15px;
}
.best_description .star{
    margin-top: 9em;
}

/* Etoiles */
.fa, .fas{
    color:#0065fc;
    font-size: 17px;
}
.fa, .fas.empty{
    color:#f2f2f2;
    font-size: 17px;
}

/*  Activites */
#activity{
    width: 100%;
    height: 68em;
    padding: 0 0 0 10px;
}
.listing_activities{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.listing_activities img:hover{
    transition: transform 100ms;
    transform: scale(1.1);
}
.listing_activities img{
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}
.column_100, .column_60_40{
    width: 23%;
    border-radius: 25px;
    cursor: pointer;
}
.column_100 {
    margin-bottom: 120px;
}
.column_100 img{
    height: 50em;
}
.img_60 {
    margin-bottom: 118px;
}
.img_60 img{
    height: 19em;
}
.img_40 img{
    height: 14em;
}
.card_frioul{
    padding-top: 40px;
}
.card_longchamp{
    padding-top: 160px;
}
#activity h3{
    border: 3px solid #F2F2F2;
    border-radius: 0 0 25px 25px;
    border-top: none;
    margin: -5px 0px 0px 0px;
    padding: 40px 0px 45px 25px;
    box-shadow: 5px 5px 13px #F2F2F2;
}

/* Pied de page */  
    footer{
        display: flex;
        justify-content: space-between;
        width: 77%;
        padding: 1.7% 23% 10em 60px;
        background-color: #f2f2f2;
    }
    footer ul{
        display: contents;
    }
    footer li{
        list-style-type: none;
        font-size: 25px;
        line-height: 40px;
    }
    footer li:hover{
        text-decoration: underline;
    }

        /* MEDIA QUERIES */

@media (max-width: 2470px){
    .accomodation_aside{
        height: 100em;
    }
}

@media (max-width: 1700px){
    #logo {
        margin: 0 0 0 1.7%
    }
    .accomodation_aside {
        flex-direction: column-reverse;
        height: auto;
    }
    #registration{
        order: 1;
        margin: 20px 10px 0 0;
        font-size: 25px;
    }
    .header{
        grid-template-areas: "img . note" "nav nav nav";
        height: auto;
        margin-top: 40px;
    }
    .header_nav{
        justify-content: space-around;
        width: 100%;
        margin: 0px 30px;
        order: 2;
        border-bottom: 1.5px solid #ddd0d0;
        font-size: 24px;
    }
    .header_nav_link:hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065fc;
    }
    .search{
        display: none;
    }
    .button ::before{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 60px;
        border-radius: 16px 16px 16px 16px;
        background-color: #0065FC;
    }
    input{
        width: 345px;
        height: 62px;
        font-weight: 800;
        font-size: 21px;
    }
    .mapi{
        width: 70px;
        height: 60px;
        color: black;
    }
    aside, #accomodation {
        width: 100%;
        padding: 0px 100px 0 0;
        margin: 0 0 0 -25px;
        border-radius: 0;
    }
    .best, .best_picture{
        width: 102%;
    }
    #form ::before {
        color: white;
    }
    #accomodation{
        height: auto;
        background-color: white;
    }
    #accomodation h2, aside h2 {
        margin: 45px 0px 45px 25px;
    }
    .habitat_listing {
        flex-direction: column;
        width: 101%;
    }
    .habitat_listing img {
        width: 100%;
        height: 25em;
    }
    .habitat_picture {
        width: 104%;
    }
    .listing_activities {
        flex-direction: column;
    }
    .additional {
        margin: 25px 0px 0px 30px;
    }
    #activity {
        height: auto;
        margin-top: 7em;
    }
    #activity img {
        width: 100%;
        height: 29em;
    }
    .column_100, .column_60_40{
        width: 100%;
        margin-bottom: 100px;
    }
    .img_60 {
        margin-bottom: 70px;
    }
    footer {
        flex-direction: column;
    }
   
@media (max-width: 1100px){
    #filters{
        display: block;
    }
    main {
        margin-top: 6em;
    }
    main {
        margin-top: 6em;
    }
    .listing_activities {
        width: 104%;
    }
}

/* Size Ipad Pro 1024px */
 @media (max-width: 1024px){
    .header{
        padding-right: 5%;
        margin: 5% 0% 0% 5%;
    }
    #part_one{
        margin: 60px 0px 0 5%;
    }
    #form{
    padding: 1.7% 27% 3em 60px;
    }
   
    main{
        margin-top: 18em;
    }
    aside{
        margin: 0;
        margin-left: -10px;
        padding-left: 20px;
    }
    .best_picture{
        width: auto;
    }
    .habitat_picture{
        width: 100%;
        margin-left: 4%;
    }
    #accomodation h2{
        margin: 45px 0px 45px 60px;
    }
    .additional{
        margin: 30px 0px 0px 65px;
    }
    section#activity{
        margin-left: 30px;
        width: 97%;
    }
    #activity img{
        height: 22em;
    }
    footer{
    padding: 9.7% 17em 10em 60px;
    }
}

/* Ipad 768px */
@media (max-width: 768px){
    h2 {
        font-size: 32px;
    }
    #registration{
        margin: 30px -15% 0px 0px;
    }
    main{
        margin-top: 14em;
    }
    aside{
        width: max-content;
    }
    #accomodation{
        margin-top: 45px;
        border: none;
    }
    .habitat_picture{
        width: 50em;
    }
    .habitat_listing img{
        height: 17em;
    }
    .position_text{
        margin: 25px 0px 20px 40px;
    }
    .additional{
        font-size: 25px;
    }
    .listing_activities{
        width: 50em;
    }
}
    
/* Surface Duo 540px */
@media (max-width: 540px){
    #form{
        padding: 3.7% 0% 3em 2px;
    }
    main {
        margin-top: 24em;
    }
    aside {
        width: inherit;
    }
    .habitat_picture {
        width: 34em;
    }
    .listing_activities {
        width: 100%;
    }
    .card_longchamp {
        padding-top: 90px;
    }
    #activity img {
        height: 15em;
    }
    .card_frioul {
        padding-top: 20px;
    }
    footer {
        padding: 55px 170px 60px 55px;
    }
}
 
    /* Iphone 6/7/8 Plus 414px */
@media (max-width: 414px){
    h2 {
        font-size: 30px;
    }
    .filtered_listing {
        margin-left: -30px;
    }
    .familia {
        display: block;
        height: 53px;
        border-top: 3px solid #F2F2F2;
        border-right: 3px solid #F2F2F2;
        border-bottom: 3px solid #F2F2F2;
        border-radius: 44px;
        background-color: white;
        cursor: pointer;
        margin-left: 6px;
        padding-right: 44px;
        }
    .familia .filter_subtitle {
        position: relative;
        left: 47px;
        top: -37px;
    }
    #info .subtitle {
        font: caption;
    }
    main{
        width: 23em;
        margin-top: 23em;
    }
    .accomodation_aside {
        width: 28.5em;
    }
    .best img {
        width: 12em;
    }
    .best_picture {
        width: 30em;
        height: 17em;
    }
    .best_description .star {
        margin-top: 7em;
    }
    .habitat_picture {
        width: 30em;
        height: 21em;
        margin-left: 35px;
    }
    .habitat_listing img {
        height: 13em;
    }
    .listing_activities {
        width: 30em;
    }
    footer{
        margin-right: -160px;
        padding-right: 12.5em;
    }
    footer li{
        font-size: 20px;
    }
}

/* Pixel 2 */
@media (max-width: 411px){
    .filtered.familia {
        position: absolute;
        margin: 20px 0px 0px 19em;
    }
}

/* Iphone 6/7/8 */
@media (max-width: 375px){
    footer {
        padding-right: 15em;
    }
    main{
        margin-top: 27em;
    }
}

/* Moto G4 */
@media (max-width: 360px){
    #info .subtitle {
        min-inline-size: max-content;
    }
}

/* Iphone 5/SE */
@media (max-width: 320px){
    main {
        margin-top: 27em;
    }
    footer {
        padding-right: 17em;
    }
}

/* Galaxy fold */
@media (max-width: 280px){
    #part_one p{
        min-width: max-content;
    }
    footer{
       padding-right: 19em;
    }
    footer li{
        width: max-content;
    }
}