body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 22px;
    height: 27px;
    margin-top: 43px;
    padding-bottom: 119px;
}
h2 {
    font-size: 20px;
    margin-top: 45px;
    margin-bottom: 29px;
}
p{
    font-size: 16px;
}
.header{
    display: grid;
    width: 100%;
    height: auto;
    margin-left: 1.7%;
}
.header_nav_link:hover{
    border-top: 3px solid #0065FC;
    color: #0065fc;
}
#logo{
    position: absolute;
    height: 15%;
    padding: 14px 40px;
    grid-area: img;
}
.header_nav{
    display: flex;
    margin-right: 185px;
    margin-left: auto;
    font-size: 23px;
    place-content: space-evenly;
    grid-area: nav;
}
.header_nav_link{
    padding: 4rem;
    font-weight: 600;
    margin-left: -50px;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}
#registration{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 6.7%;
    color: #0065FC;
    font-size: 23px;
    font-weight: 700;
    grid-area: note;
    cursor: pointer;
}
#part_one{
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    height: 461px;
    padding: 1.7%;
}
.research{
    position: relative;
    width: 100%;
    height: 133px;
    font-weight: 500;
    margin-left: 1.7%;
    margin-bottom: 50px;
}
.research.subtitle{
    position: absolute;
    top: 70px;
    margin-bottom: 12px;
    font-size: 14px;
}
#form{
    display: flex;
    position: relative;
    justify-content: center;
    border: 0px solid #F2F2F2;
    width: 437px;
    height: auto;
    border-radius: 15px;
    margin-top: -48px;
    margin-left: 1.7%;
}
.mapi{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 44px;
    width: 39px;
    left: 0;
    border-radius: 16px 0px 0px 16px;
    background-color: #F2F2F2;
    border-top: 0px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 0px solid transparent;
}
#form .fa{
    color: black;
}
input{
    display: block;
    margin: 0px 135px 0px 94px;
    height: 44px; 
    width: 324px;
    padding-left: 34px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 700;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 130px;
    height: 44px;
    right: -12px;
    background-color: #0065FC;
    border-radius: 0px 16px 16px 0px;
    border: 0px solid transparent;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.glass{
    display: none;
}
#filters{
    display: flex;
    align-items: center;
    width: 100%;
    height: 121px;
    margin-left: 1.7%;
}
#filters h3 {
    font-size: 22px;
}
#filters .fa{
    color: #0065FC;
}
h3{
    font-size: 16px;
}
.filtered_listing{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.filtered{
    display: flex;
    align-items: center;
    inline-size: fit-content;
    margin-left: 20px;
    margin-top: 10px;
    width: 100%;
    height: 52px;
    padding-right: 23px;
    border-top: 3px solid #F2F2F2;
    border-right: 3px solid #F2F2F2;
    border-bottom: 3px solid #F2F2F2;
    border-radius: 44px;
    background-color: white;
    cursor: pointer;
    max-width: max-content;
}
.filter_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #DEEBFF;
}
.filtered .fa{
    letter-spacing: 0px;
}
.filter_subtitle{
    font-size: 16px;
    font-weight: 800;
    margin: 0px 25px;
    margin-left: 25px;
}
.filtered:hover{
    color: #0065FC;
    background-color: #DEEBFF;
    border-top: 2px solid #0065FC;
    border-right: 2px solid #0065FC;
    border-bottom: 2px solid #0065FC;
    border-left: 2px solid #0065FC;
}
#info{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-left: 1.7%;
}
.point_i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border: 2.5px solid #F2F2F2;
    border-radius: 40px;
    font-size: 12px;
    color: #0065FC;
}
#info .subtitle{
    display: block;
    margin-left: 14px;
}


/************* Main **********************/
main {
    display: flex;
    justify-content: space-between;
    padding: 1.7%;
    margin-top: -55px;
}
#accomodation {
    margin-top: 30px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 60%;
    padding: 0 20px 10px 20px;
}
#accomodation h2 {
    margin-left: 1.9%;
}
.habitat_listing {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.habitat_listing img {
    width: 220px;
    height: 100px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.habitat_picture {
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    padding: 2px 2px 10px 2px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #b4b3b3;
}
.habitat_picture:hover{
    transition: transform 100ms;
    transform: scale(1.1);
}
.position_text {
    padding: 0px 0px 0px 12px;
}
.position_text span{
    font-weight: 600;
}
.fa, .fas{
    color:#0065fc;
    font-size: 0.8em;
    letter-spacing: -3px;
}
.fa, .fas.empty{
    color:#f2f2f2;
    font-size: 0.8em;
    letter-spacing: -3px;
}

/*********** Aside ***************/

aside {
    margin-top: 30px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 30%;
    padding: 0 20px 10px 20px;
}
.first_class {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.best img {
    width: 130px;
    height: auto;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
.best_picture {
    display: flex;
    height: 153px;
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    padding: 2px 10px 2px 2px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #b4b3b3;
}
.best_picture:hover{
    transition: transform 100ms;
    transform: scale(1.1);
}
.best_picture span{
    font-weight: 600;
}
.best_description {
    padding: 0px 0px 0px 15px;
    margin-top: -10px;
}

/******* Activites *************/
#activity h2 {
    margin-left: 1.7%;
}
#activity h4 {
    margin-left: 13px;
    font-size: 13px;
}
.listing_activities {
    display: flex;
    justify-content: space-between;
    padding: 1.7%;
}
.column_60_40, .column_two_40_60 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.listing_activities img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.img_100 img {
    width: 270px;
    height: 400px;
}
.column_60 img {
    width: 270px;
    height: 160px;
}
.column img {
    width: 270px;
    height: 140px;
}
.column_40 img {
    width: 270px;
    height: 140px;
}
.img_100, .column_60, .column_40, .column {
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #f2f2f2;
}
.habitat:hover {
    transition: transform 100ms;
    transform: scale(1.1);
}
/****** Footer ************/

footer {
    margin: 35px 0 0 -20px;
    background-color: #f2f2f2;
    display: flex;
}
footer ul {
    list-style-type: none;
    padding-left: 0;
}
.footer_about {
    margin-left: 50px;
    line-height: 1.8em; 
}
.footer_accommodation, .footer_assistance {
    margin-left: 195px;
    line-height: 1.8em;
}
footer li:hover{
    text-decoration: underline;
}

/* Media quieries */

@media (max-width: 1240px) {
    body {
        width: 100%;
    }
    .header{
        grid-template-areas: "img . note" "nav nav nav";
        margin-top: 40px;
        justify-content: space-around;
    }
    #registration{
        order: 1;
        margin-top: 25px;
        font-size: 25px;
    }
    .header_nav{
        justify-content: space-around;
        order: 2;
        width: 100%;
        border-bottom: 3px solid #f2f2f2;
    }
    #logo {
        height: 58px;
    }
    #filters {
        flex-direction: column;
        align-items: end;
    }
    .best_picture {
    height: 169px;
    }
}

@media (max-width: 1100px) {
    #activity img {
        height: 193px;
        width: 100%;
    }
    .listing_activities {
        flex-direction: column;
    }
    .img_100, .column_60, .column_40, .column {
        margin-top: 20px;
    }
    
}

@media (max-width: 950px) {
    #info {
        margin-top: 100px;
    }
    main {
        margin: 0;
    }
    #accomodation {
        width: 54%;
    }
    aside {
        width: 32%;
    }
    .habitat_listing {
        display: initial;
    }
    .habitat_listing img {
    width: 100%;
    height: 136px;
    }
    .best_picture {
    height: 231px;
    }
    .footer_about, .footer_accommodation, .footer_assistance {
    font-size: 14px;
    margin-right: -100px;
    }
/**** A réglé *****/

@media (max-width: 744px) {
    h2 {
        font-size: 29px;
    }
    #filters {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 103px;
    }     
    .filtered {
        flex-wrap: wrap;
    }
    main {
        flex-direction: column;
    }
    #accomodation, aside {
        width: 96%;
    }
    aside {
        height: auto;
    }
    .habitat_listing {
        justify-content: space-between;
        margin: 51px;
    }
    .best img {
        width: 258px;
    }
    .column_60_40, .column_two_40_60 {
        flex-direction: column;
        width: auto;
    }
    .listing_activities {
        display: block;
    }
    .listing_activities img {
        height: 293px;
        width: 100%;
    }
    footer {
        padding-top: 103em;
    }
}

@media (max-width: 700px) {

    #registration {
        margin-top: 49px;
}
    #form {
        margin-top: 130px;
    }
    #filters h3 {
        top: 417px;
    }
    #filters {
        margin: 98px 20px;
    }
    main{
        flex-direction: column-reverse;
        width: 258%;
        margin-top: 235px;
    }
    aside{
        height: auto;
    }
    #accomodation {
        width: 35%;
    }
    .habitat_listing {
        flex-direction: column;
    }
    .habitat_listing img {
        height: 160px;
        border-radius: 16px 0px 0px 16px;
    }
    .habitat_picture {
        display: flex;
        height: 153px;
    }
    .listing_activities {
        display: inline-block;
        width: %;
    }
    .column_60_40, .column_two_40_60 {
        flex-direction: column;
    }
    #activity img {
        width: 281%;
    }
    .column_60_40, .column_two_40_60 {
       width: 100%;
    }
    footer {
        margin-top: 20em;
        margin-left: -4.3% ;
    }
}
@media (max-width: 554px) {
    #form {
        width: 90%;
        justify-content: space-between;
    }
    input {
        width: 90%;
    }
    .part_search {
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media (max-width 546px)