/*
header {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1440px;
    height: 75px;
    padding-top: 25px;
    margin: 0 auto;
    justify-content: space-between;
}
#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
}
#logo img {
    height: 60px;
    margin-left: 2.7%;
    cursor: pointer;
}
.registration {
    padding: 42px 14px 0px 10px;
    width: 120px;
    height: 110px;
    margin-right: 2.7%;
    text-align: right;
    font-weight: 700;
    color: #0065FC;
    cursor: pointer;
    transition-property: color;
    transition-duration: 4s;
    transition-delay: 2s;
}
.registration:hover {
    font-size: 20px;
}
nav {
    display: flex;
    position: absolute;
    right: 150px;
}
.navigation_menu {
    padding: 42px 14px 0px 10px;
    height: 110px;
    margin-right: 40px;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #0065FC;
}
**/